.marquee__wrapper {
    display: flex;
    /* animation: marquee 15s linear infinite; */
    margin: 0;
    padding: 0;
}

/* @keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
} */