.header__ellipse {
    position: absolute;
    top: -23px;
    left: 951px;
    width: 660px;
    height: 660px;
    z-index: 0;
}

@media (max-width: 1919px) {
    .header__ellipse {
        left: 673px;
    }
}

@media (max-width: 768px) {
    .header__ellipse {
        top: 420px;
        left: 30px;
        width: 298px;
        height: 298px;
    }
}