.marquee {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    background-color: #F54932;
    display: flex;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .marquee {
        height: 38px;
    }
}