.header__button_details {
    border: 2px solid #1F1F1F;
    background-color: transparent;
    color: #1F1F1F;
}

.header__button_details:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
    border: none;
}

@media (max-width: 768px) {
    .header__button_details {
        border: none;
        background-color: #FFFFFF;
        opacity: 0.9;
    }
}