.header__buttons {
    display: flex;
    margin: 23px 0 0;
    gap: 18px;
}

@media (max-width: 768px) {
    .header__buttons {
        flex-direction: column;
        margin: 16px 0 0;
        gap: 15px;
    }
}