.header__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25.5px 349px 0;
    position: relative;
}

@media (max-width: 1919px) {
    .header__container {
        max-width: 1366px;
        padding: 25.5px 72px 0;
    }
}

@media (max-width: 768px) {
    .header__container {
        max-width: 375px;
        padding: 18px 20px 0;
    }
}